<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="icon" type="image/svg+xml" href="{{url_for('static',filename='veridian.svg')}}" sizes="any">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
    <script src=" {{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
    <div class="Content">
        <h1>Sign Up</h1>
        <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="message {{ category }}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('signup') }}">
            <input type="email" name="email" placeholder="E-Mail" required>
            <input type="password" name="password" placeholder="Password" required>
            <br>
            <input type="submit" value="Sign Up">
        </form>
        <p>Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
    </div>
    <div class="theme-switch-container">
        <button id="theme-toggle-button"></button>
    </div>
</body>
</html>